
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home.css" rel="stylesheet" />

<div style="text-align:center; padding-top: 50px; padding-bottom: 10px">


    <a href="https://localhost:44321/ParallelCoordinates/Index" class="btn btn-default">Parallel Coordinates</a>

    <a href="https://localhost:44321/TreeMap/Index" class="btn btn-default">TreeMap</a>

    <a href="https://localhost:44321/Heatmap/Index" class="btn btn-default">Coloured Table</a>

    <a href="https://localhost:44321/PackedBubble/Index" class="btn btn-default">Packed Bubble</a>

</div>

<div id="home">
    <h3 style="padding-bottom:10px">
        &nbsp; &nbsp; &nbsp;&nbsp; Visualisation Of Physical Activity
    </h3>
    This project is focused on the use of current technology to gather information on physical activity (PA) of the elderly who suffer from Alzheimer disease (AD) and visualise the data it in an intuitive way. This would allow care workers to make the best possible decision on how their current PA is affecting their wellbeing and whether there should be more of a focus on PA. Diagnosis and treatment of dementia cost the NHS £4.3 billion per year. Dementia is a syndrome that gradually reduces the brain cognitive ability, which encompasses AD, Parkinson’s, and Huntington’s disease, etc. AD is the most common and includes 62% of people who have dementia in the UK. There are several different research papers that show that there is a correlation between regular PA taking places and the improvement of a person’s cognitive ability. Therefore, if we monitor PA and act early to signs of sedentary behavior it will not only just affect the wellbeing of the people we are working with, but taxpayer money is saved due to less contact with health care professionals and more money can be placed into other areas such research.
</div>

<div id="logo" style="padding-top: 100px">
    <img src="https://upload.wikimedia.org/wikipedia/en/1/1d/Swansea_University_logo.png" alt="Swansea University" style="width:500px;height:278px;" />
</div>